<!DOCTYPE HTML>
<!--
	Alex Daro GAE Template.
-->
<html ng-app="adApp" lang="en">
<head lang="en">
    <script src="static/js/angular/angular.js"></script>
    <script src="static/js/angular-animate/angular-animate.js"></script>
    <script src="static/js/angular-aria/angular-aria.js"></script>
    <script src="static/js/angular-material/angular-material.js"></script>
    <script src="static/js/hammer/hammer.js"></script>

    <meta charset="UTF-8">
    <title>Alex Daro</title>
</head>
<body>
    <div layout="row">
      <div>I'm left.</div>
      <div>I'm right.</div>
    </div>
    <div layout="column">
      <div>I'm above.</div>
      <div>I'm below.</div>
    </div>
</body>
<script src="static/js/ad_controller.js"></script>
<script src="static/js/ad_controller.js"></script>
<script src="static/js/ad_services.js"></script>
</html>